<% if obj.errors.any?  %>
  <div class="container">
    <div class="row sign_up_form">
      <div class="col s12 m12 l12">
        <div class="card-panel red lighten">
          <span class="white-text"><%= pluralize(obj.errors.count, "error") %>
            Prevented your Profile creation.
              <ul>
                <% obj.errors.full_messages.each do |mess| %>
                <li><%= mess %></li>
                <% end %>
              </ul>
            </span>
        </div>
      </div>
    </div>
  </div>
<% end %>